////
/// mixins.scss
/// Mixins
/// @author Ash Whiting
////

/// FONT SIZES IN REMS
/// Convert font sizes to rems with fallbacks to pixels
/// @param {size} $size - Font size in pixels
/// @param {line} $line - Line height in pixels
/// @example
/// @include fs(20,22)

@mixin fs($size: 1.6, $line: $size) {
	font-size: $size + px;
	line-height: $line + px;
	font-size: $size / 10 + rem;
	line-height: $line / 10 + rem;
}

